* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu{
    background: #40774e;
   position: sticky !important;
    flex-direction: start;
    top:0;
    width: 100%;
    height: 7vh;
    margin-bottom: 20px;
    display: flex;
}

.border {
    border: 5px solid #9dc88d;
}

.header__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 10rem 1rem;
    background-color: #9dc88d;
    color:white;
}

.navbar__list {
    width: 50%;
    padding-left: 8rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
.menubar {
    height: 100%;
    display: flex;
    align-items: center;
    
}

h1 {
    text-align: center;
    padding-left: 3rem;
}

.header__border {
    background-color: rgb(248, 148, 66);
    min-width: 100%;
    height: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    padding-bottom: 13px;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: flex;
    height: 100%;
    color: white;
    padding-bottom: 14px;
}

.dropbtn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown__member {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    margin-top: 2.1rem;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    color: black;
}

.menubar a:hover {
    border-bottom: 3px solid rgb(248, 148, 66);
    color: black;
}

main {
    width: 80%;
}

.Intro-slides {
    width: 100%;
}

.slide-cont {
    width: 100%;
    display: flex;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 40rem;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.navigationbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(109, 107, 107, 50%);
    margin: 0 2rem;
}

.navigationbtn:hover {
    background-color: rgba(109, 107, 107, 70%);
}

.navigationbtn a {
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: 60px;
    text-align: center;
    padding-bottom: 0.5rem;
}

.slide-dots {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-dots div {
    width: 14px;
    height: 14px;
    background-color: rgba(43, 42, 42, 50%);
    margin: 0 3px 0;
    border-radius: 50%;
}

.slide-dots div:hover {
    width: 19px;
    height: 19px;
    background-color: rgba(43, 42, 42, 70%);
    margin: 0 3px 0;
    border-radius: 50%;
}

.intro-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro-links__member {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 7rem;
    border: 3px solid #164a41;
}

.intro-links__member a {
    text-decoration: none;
    color:#40774e;
}

.intro-links__member:hover {
    transition: 500ms;
    transform: rotate(-15deg);
    box-shadow: 3px 7px 5px #9c9c9c;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(78, 78, 78));
}
.intro-links__member a:hover{
    color: #f1b24a;
}


#intro-header {
    margin-top: 3rem;
    color: #40774e;
}

.index-article {
    clear: both;
    margin-top: 5rem
}

.index-article:nth-child(even) .index-img {
    width: 600px;
    height: auto;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.index-article:nth-child(odd) .index-img {
    width: 600px;
    height: auto;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.intro-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -2rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #40774e;
    margin-top: 20px;
}

.footerBorder {
    width: 100%;
    height: 1rem;
    background-color: rgb(248, 148, 66);
}

.footer-content {
    color: rgb(224, 224, 224);
    padding: 2rem 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul {
    margin-top: 1rem;
    list-style: none
}

.footer-info {
    font-weight: lighter;
    font-style: italic;
}

table {

    border-collapse: collapse;
    width: 75em;
    margin: 2em;
}

table,
th,
td {
    border: #40774e 2px solid;
}

th {
    padding: 0.5em;
    text-align: center;
}

td {
    padding: 0.5em;
    text-align: center;

}

.table {
    background-color: rgb(219, 219, 219);
}

#schedule-header,
#blog-header,
#signup-header,
#signin-header,
#float-header,
#flex-header {
    text-align: left;

}

.signup-form {
    display: flex;
    flex-direction: column;

}

.signup-form input,
.signup-form fieldset,
.signup-form select,
textarea {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #9dc88d;
    padding: 10px;
    border: 2px solid #40774e;
    border-bottom: 4px solid #40774e;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;


}

.signup-form fieldset {
    background-color: white;

}

#username,
#fullname,
#email,
#password,
#tellphone,
#date-of-birth,
#profilecolor,
#first-input,
#second-input {
    height: 40px;
    width: 1220px;
    padding: 0;
}

.signup-form label {
    margin-bottom: 0;
    margin-top: 10px;

}

.signup-form fieldset {
    display: flex;
    flex-direction: column;
}

.radio-legend {
    border: 1px solid #40774e;
    border-bottom: 3px solid #40774e;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    background-color: #9dc88d;
}

.fieldset p {
    margin: 0px;
}

.button {
    padding: 16px 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.b-signup {
    background-color: #9dc88d;
    color: black;
    border: 2px solid #40774e;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 30px;
    border-radius: 10px;
}

.b-signup:hover {
    background-color: #40774e;
    color: white;
}

.b-reset {
    background-color: #f9c6c9;
    color: black;
    border: 2px solid #a4161a;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 30px;
    border-radius: 10px;
}

.b-reset:hover {
    background-color: #a4161a;
    color: white;
}

.signin-form {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    width: 600px;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
    margin: 10px 320px;
}

.signin-form input {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #9dc88d;
    padding: 10px;
    border: 2px solid #40774e;
    border-bottom: 4px solid #40774e;
    border-radius: 10px 10px 0px 0px;
}

.b-signin {
    background-color: #bfc4bd;
    color: black;
    border: 2px solid #40774e;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 470px;
}


.flex-blog-container {
    text-align: left;
    width: 800px;
    margin-right: 20px;
}

.float-blog-container article,
.flex-blog-container article {
    margin-bottom: 20px;
}

.float-blog-container .float-img,
.flex-blog-container .float-img {
    height: 300px;
    width: 800px;
}

.float-header,
.flex-header {
    margin-bottom: 30px;
    text-align: left
}

.article-info {
    margin: 5px 0 5px;
    font-weight: lighter;
}

.article-info a {
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.whole-page {
    display: flex;
    flex-direction: row;

}

.aside-container {
    border-top: 4px solid #f1b24a;
    background-color: #ffe1a8;
    padding: 0 10px 0 15px;
    width: 300px;
}

.aside-items h2 {
    color: #40774e;
    padding-bottom: 20px;
}

.aside-items li a {
    text-decoration: none;
    color: #40774e;
    margin-bottom: 10px;
}

.grid-container .float-img {
    width: 570px;
    height: 300px;
}

.grid-container section {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
}

.grid-item {
    width: 570px;
}

.whole-page-float {
    width: 100%;
}

.float-blog-container section{
float: left;
margin-left: 155px;
}

.float-aside {
    float: right;
    margin-right: 290px;
    
    
}
.float-blog-container article{
   
    margin-bottom:30px;
    width:800px;
}
.float-aside {
    border-top: 4px solid #f1b24a;
    background-color: #ffe1a8;
    padding:0 10px 30px 15px;
    width: 260px;
}